<div class="form-group ">

    <!--<ion-item no-padding="" [hidden]="baseForm.isHidden===true || baseForm.isReadOnly " (click)="baseForm.ionItemClickListener.next(this.finalModel)" [ngClass]='{"ionItemIsReadOnly":baseForm.isReadOnly}' >-->

    <label [hidden]="baseForm.isReadOnly" [ngClass]="{'required':baseForm.rules.isRequired}" class="control-label"
           stacked="" *ngIf="this.labelType == 'stacked'">{{baseForm.label | ucWord}} </label>
    <label [hidden]="baseForm.isReadOnly" [ngClass]="{'required':baseForm.rules.isRequired}" class="control-label"
           inline="" *ngIf="this.labelType == 'inline'">{{baseForm.label | ucWord}} </label>

    <!--&lt;!&ndash;<span *ngIf="baseForm.type=='text';then ionInput else ionSelect"></span>&ndash;&gt;-->

    <!--&lt;!&ndash;only fordisplay&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-input&ndash;&gt;-->
    <!--&lt;!&ndash;type="text"&ndash;&gt;-->
    <!--&lt;!&ndash;[(ngModel)] = "baseForm.value"&ndash;&gt;-->
    <!--&lt;!&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;  </ion-input>-->
    <!--&ndash;&gt;-->

    <!--this.inputType!='textarea' || baseForm.isReadOnly-->
    <textarea
            [hidden]="this.inputType!='textarea' || baseForm.isReadOnly"
            [disabled]="baseForm.isDisabled"
            [(ngModel)]="baseForm.value"
            #ionTextareaModel="ngModel"

            [name]="baseForm.name"
            [placeholder]="baseForm.placeholder || ''"
            [required]="baseForm.rules.isRequired && this.inputType !='file' && !baseForm.isReadOnly"
            [minlength]="baseForm.rules.minlength"
            [maxlength]="baseForm.rules.maxlength"
            [pattern]="baseForm.rules.pattern"
            [readonly]="baseForm.isReadOnly"

            (change)="broadcast('iontextarea')"

            (focus)="onFieldClicked(ionTextareaModel)"
            class="form-control"
    ></textarea>


    <input
            [hidden]="this.inputType=='select' || this.inputType=='radio'  || this.inputType=='datetime' || this.inputType=='date' || baseForm.isReadOnly || this.inputType == 'textarea' || this.inputType=='file'"
            [disabled]="baseForm.isDisabled"
            [(ngModel)]="this.baseForm.value"
            #ionInputModel="ngModel"
            [type]="this.inputType"
            [name]="baseForm.name"
            [placeholder]="baseForm.placeholder || ''"
            [required]="baseForm.rules.isRequired && this.inputType !='file' && !baseForm.isReadOnly"
            [minlength]="baseForm.rules.minlength"
            [maxlength]="baseForm.rules.maxlength"
            [pattern]="baseForm.rules.pattern"
            [readonly]="baseForm.isReadOnly"
            [max]="baseForm.rules.max"
            [min]="baseForm.rules.min"
            (change)="broadcast('ioninput')"
            (focus)="onFieldClicked(ionInputModel)"
            class="form-control"

    >


    <select
    [hidden]="this.inputType != 'select' || baseForm.isReadOnly"
    interface="action-sheet"
    [(ngModel)]   = "baseForm.value"
    #ionSelectModel="ngModel"
    [name]        = "baseForm.name"

    [required]    = "baseForm.rules.isRequired && this.inputType !='file' && !baseForm.isReadOnly"
    [minlength]   = "baseForm.rules.minlength"
    [maxlength]   = "baseForm.rules.maxlength"
    [pattern]     = "baseForm.rules.pattern"
    (change)   = "broadcast('ionselect')"
    [disabled]    = "baseForm.isDisabled"
    (click) = "onFieldClicked(ionSelectModel)"
    class="form-control"
    >
    <option  *ngFor="let option of baseForm.selectOptions" [value]="option.value">{{option.key}}</option>
    </select>


    <!--<ion-datetime-->
    <!--[disabled] = "baseForm.isDisabled "-->
    <!--#ionDateModel   = "ngModel"-->
    <!--#datetimePicker-->

    <!--[hidden]        = "(this.inputType!='date' && this.inputType !='datetime') || baseForm.isReadOnly"-->
    <!--[(ngModel)]       = "baseForm.value"-->
    <!--[name]          = "baseForm.name"-->
    <!--[placeholder]   = "baseForm.placeholder || ''"-->
    <!--[required]      = "baseForm.rules.isRequired  && this.inputType !='file' && !baseForm.isReadOnly"-->
    <!--[minlength]     = "baseForm.rules.minlength"-->
    <!--[maxlength]     = "baseForm.rules.maxlength"-->
    <!--[pattern]       = "baseForm.rules.pattern"-->
    <!--[displayFormat] = "baseForm.dateSetting.displayFormat"-->
    <!--[pickerFormat] = "baseForm.dateSetting.displayFormat"-->
    <!--[min]           = "baseForm.dateSetting.min"-->
    <!--[max]           = "baseForm.dateSetting.max"-->
    <!--(ionChange)   = "broadcast('iondatetime')"-->
    <!--[hourValues] = baseForm.hourValues-->
    <!--(click) = "onFieldClicked(ionDateModel)"-->

    <!--&gt;</ion-datetime>-->


    <!--</ion-item >-->

    <!--&lt;!&ndash;[required]      = "baseForm.rules.isRequired "&ndash;&gt;-->
    <!--&lt;!&ndash;ngModel="t"&ndash;&gt;-->


    <!--&lt;!&ndash;for capturing calender clicked&ndash;&gt;-->
    <!--<div (click) = "onFieldClicked(ionDateModel)" [ngClass]="{overrideDatepicker:this.inputType == 'date' && !this.baseForm.isReadOnly}">-->

    <!--</div>-->


    <!--<ion-list #ionRadioModel="ngModel" (ionChange)="broadcast('ionradio')" [hidden]="this.inputType!='radio' || baseForm.isHidden" [name]="baseForm.name" radio-group [(ngModel)]="baseForm.value">-->

    <!--<ion-item *ngFor="let selectOption of baseForm.selectOptions">-->
    <!--<ion-label>{{selectOption.key}}</ion-label>-->
    <!--<ion-radio checked="true"  [value]="selectOption.value"></ion-radio>-->
    <!--</ion-item>-->


    <!--</ion-list>-->


    <!--<input-->
    <!--#fileModel = "ngModel"-->
    <!--ngModel=""-->
    <!--[type]="this.inputType"-->
    <!--[name]="baseForm.name"-->
    <!--[id]="baseForm.name"-->
    <!--[hidden] = "this.inputType != 'file' || baseForm.isHidden === true || baseForm.isReadOnly"-->
    <!--[required] = "baseForm.rules.isRequired && !baseForm.isReadOnly"-->
    <!--(change) = "baseForm.broadcastNgChange($event,parentForm)"-->
    <!--[readonly] = "baseForm.isReadOnly"-->

    <!--multiple-->
    <!--accept="*/*"-->
    <!--&gt;-->


    <div class="readOnlyInfo" [hidden] = "!baseForm.isReadOnly || baseForm.isHidden">
    <p class="label">{{baseForm.label | ucWord}} </p>
    <p class="value"   >{{baseForm.getReadOnlyValue()}}</p>
    </div>


    <!--<open-url [hidden]="baseForm.isHidden" *ngIf="baseForm.attachmentInfo.isSet && baseForm.attachmentInfo.name && baseForm.attachmentInfo.name!=''" [name]="baseForm.attachmentInfo.name" [url]="baseForm.attachmentInfo.url"></open-url>-->

    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;for display onlu&ndash;&gt;-->

    <p [hidden]="baseForm.isHidden || baseForm.infoBottom == ''" class="infoBottom"  [innerHTML]="baseForm.infoBottom | keepAsHtml"></p>

    <div [hidden]="baseForm.isHidden" *ngIf="finalModel">
    <!--<span>{{debug()}}</span>-->
    <!--<p style="text-align:left;margin-left:-0px;" class="error-container" *ngIf="!finalModel.valid && (finalModel.dirty || finalModel.touched || parentForm.submitted)" >-->
    <p style="text-align:left;margin-left:-0px;" class="error-container" >
    <form-error-message  [baseForm]="baseForm" [model]="finalModel"></form-error-message>
    </p>
    </div>


    <!--<div *ngIf="!baseForm.buttonRightSuccess.isHidden || !baseForm.buttonRightSuccess.isHidden" style="margin-bottom: 16px;">-->
    <!--<button [hidden]="baseForm.buttonRightSuccess.isHidden" (click)="baseForm.buttonRightSuccess.clickListener.next(this.baseForm)" type="button" item-right="" ion-button="" color="primary">{{baseForm.buttonRightSuccess.label}}</button>-->
    <!--<button [hidden]="baseForm.buttonRightDanger.isHidden" (click)="baseForm.buttonRightDanger.clickListener.next(this.baseForm)" type="button" item-right="" ion-button="" color="danger">{{baseForm.buttonRightDanger.label}}</button>-->
    <!--</div>-->


    <!--<ng-template #ionInput>-->

    <!--</ng-template>-->

    <!--<ng-template #ionSelect>-->

    <!--</ng-template>-->

    <!--&lt;!&ndash;<label >{{currentBaseForm.label}}</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input&ndash;&gt;-->
    <!--&lt;!&ndash;ngModel="" #model="ngModel"&ndash;&gt;-->
    <!--&lt;!&ndash;[name]        = "currentBaseForm.name"&ndash;&gt;-->
    <!--&lt;!&ndash;[value]       = "currentBaseForm.value || ''"&ndash;&gt;-->
    <!--&lt;!&ndash;[placeholder] = "currentBaseForm.placeholder || ''"&ndash;&gt;-->
    <!--&lt;!&ndash;[isRequired]    = "currentBaseForm.rules.isRequired"&ndash;&gt;-->
    <!--&lt;!&ndash;[minlength]   = "currentBaseForm.rules.minlength"&ndash;&gt;-->
    <!--&lt;!&ndash;[maxlength]   = "currentBaseForm.rules.maxlength"&ndash;&gt;-->
    <!--&lt;!&ndash;[pattern]     = "currentBaseForm.rules.pattern"&ndash;&gt;-->
    <!--&lt;!&ndash;/>&ndash;&gt;-->

    <!--&lt;!&ndash;<button (click)="showCalendar()">Show Calendar</button>&ndash;&gt;-->

</div>